* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #eee;
}
/* navbar */
#navbar {
  display: flex;
  width: 100%;
  height: 3rem;
  padding: 1rem 5rem;
  background-color: #123456;
  color: white;
  align-items: center;
  font-family: sans-serif;
}
.h1-header {
  float: left;
}
.purchase {
  margin-left: auto;
  transition: 0.4s;
}
.purchase:hover {
  color: rgb(221, 220, 220);
  cursor: pointer;
}

/* carousel */
h2 span {
  font-size: 16px;
}
.btn {
  margin-top: 1rem;
  width: 5rem;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 3rem;
  /* max-height: 197px; */
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: white;

  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: clamp(10px, 1.2vw, 20px);
  padding: 8px 12px;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 60%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* card */
#card-wrap {
  width: 100%;

  /* padding: 3rem; */
}
.card-wrap-inner {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr;
  padding: 3rem;
}
#card {
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 100%;
  border: 1px solid rgb(221 221 221);
  background-color: white;
  border-radius: 15px;
  transition: 0.4s;
}
#card:hover {
  transform: scale(1.01, 1.01);
}
.card-header {
  height: 15rem;
}
.img-iphone {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.price {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
}
.btn-order {
  background: rgb(43, 127, 223);
  color: whitesmoke;
  width: 3.5rem;
  height: 1.7rem;
  border-radius: 5px;
  border: 1px solid rgb(43, 127, 223);
  transition: 0.4s;
}
.btn-order:hover {
  background-color: rgb(36, 106, 187);

  border: 1px solid rgb(36, 106, 187);
  cursor: pointer;
}

/* modal */
.modal {
  display: none;
  position: absolute;
  width: 70%;
  height: 80vh;
  top: 120px;
  left: 15%;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 15px;
}
.modal2 {
  display: none;
  position: absolute;
  width: 70%;
  height: 740px;
  top: 120px;
  left: 15%;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 15px;
}
.close {
  float: right;
  margin-right: 1rem;
  margin-top: 5px;

  font-size: 25px;
  color: #333;
}
.close:hover {
  color: rgb(221, 220, 220);
  cursor: pointer;
}

.close2 {
  float: right;
  margin-right: 1rem;
  margin-top: 5px;

  font-size: 25px;
  color: #333;
}
.close2:hover {
  color: rgb(221, 220, 220);
  cursor: pointer;
}
.h-responsive {
  height: 520px;
}
#info-content {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding-left: 1rem;
}
#btn-add {
  width: 4rem;
}
.btn-buy {
  bottom: 10px;
  position: absolute;
  width: 120px;
  left: 20px;
  height: 2rem;
  background-image: linear-gradient(
    to right,
    rgb(31, 141, 204),
    rgb(26, 101, 214)
  );
  border: 1px solid rgb(31, 141, 204);
  color: whitesmoke;
  transition: 1s;
}
.btn-buy:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(26, 101, 214),
    rgb(31, 141, 204)
  );
}
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* mobile site */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  h2 span {
    display: none;
    font-size: 16px;
  }
  body {
    font-family: Verdana, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  .h-responsive {
    height: 270px;
  }
  .modal2 {
    height: 480px;
  }
  .slideshow-container {
    margin-top: 0;
    /* max-height: 197px; */
  }
  #info-content {
    font-size: 14px;
  }
}
@media only screen and (max-device-width: 450px) {
  .text {
    display: none;
  }
}
@media only screen and (min-device-width: 1400px) {
  .card-wrap-inner {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .card {
    height: 24rem;
  }
  .modal2 {
    height: 800px;
  }
  .h-responsive {
    height: 600px;
  }
}
